repos:
# Ruff lint and format
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.13.3
  hooks:
    - id: ruff-check
      args: [--fix, --exit-non-zero-on-fix]
    - id: ruff-format
# Gen uv.lock
- repo: https://github.com/astral-sh/uv-pre-commit
  rev: 0.8.24
  hooks:
    - id: uv-lock
# Standart pre-commit hooks
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
    - id: check-added-large-files
    - id: check-case-conflict
    - id: check-toml
    - id: check-yaml
    - id: detect-private-key
    - id: end-of-file-fixer
    - id: trailing-whitespace
# Pyright - static type checker
# - repo: https://github.com/RobertCraigie/pyright-python
#   rev: v1.1.405
#   hooks:
#     - id: pyright
