name: Deploy Documentation

on:
  push:
    branches:
      - main
    paths:
      - "multimodal-rag-gpt/docs/**"
  workflow_dispatch:
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  build-pages:
    runs-on: ubuntu-latest

    env:
      UV_CACHE_DIR: .uv-cache
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: |
            ${{ env.UV_CACHE_DIR }}
            ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('pyproject.toml', 'uv.lock') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install system dependencies
        run: sudo apt-get update && sudo apt-get install -y git

      - name: Install Python packages
        run: |
          pip install uv
          uv sync --locked
          uv add mkdocs-material>=9.6.21 mkdocstrings-python>=1.18.2 mkdocs-static-i18n

      - name: Build MkDocs site
        run: uv run mkdocs build --site-dir /home/runner/work/multimodal-rag-gpt/multimodal-rag-gpt/public

      - name: Upload Pages Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

  deploy-pages:
    needs: build-pages
    runs-on: ubuntu-latest
    environment:
      name: github-pages
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
